{
  "presets": [
    "linaria/babel",
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": ["babel-plugin-polished"]
}
