{
  "presets": [
    "next/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "inline-dotenv",
        ["styled-components", { "ssr": true, "displayName": true } ]
      ]
    },
    "production": {
      "plugins": [
        "transform-inline-environment-variables",
        ["styled-components", { "ssr": true, "displayName": true } ]
      ]
    }
  }
}
